<!doctype html>
<html>
<link rel="stylesheet" href="../static/css/base.css">

    {% block scriptblock %}
    {% endblock %}

    <title>Project 2 </title>

    </head>
    <body>
        <header> 
            <h2> Project 2 page </h2>
            <nav>
                <ul>
                    <li> <a href="{{url_for('index')}}">Home </a> </li>
            
                </ul>
                </nav>
        </header>
        <main>
        {% block content %}{% endblock %}
        </main>
        <footer>
            footer info ** footer info **
        </footer>
    </body>
</html>







</html>