<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="../static/css/base.css">

    {% block scriptblock %}
    {% endblock %}

    <title>Project 2 </title>
</head>
    <body>
        <header> 
            <h2> Magical Game of information </h2>
            <nav>
                <ul>
                    <li> <a href="/index"> </a> Home </li>
                    <li> <a href="/register"> information </a> </li>
                    <li> <a href="/card"> card </a> </li>
            
                </ul>
                </nav>
        </header>
        <main>
        {% block content %}{% endblock %}
        </main>
        <footer>
            CART 351 PROJECT 2
        </footer>
    </body>
</html>







</html>