<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="../static/css/base.css">

    {% block scriptblock %}
    {% endblock %}

    <title> Tarot Reading </title>
</head>
    <body>
         <nav>
            <a href= "/"> Home </a>
            <a href= "/register"> Register</a>  
            <a href= "/card">  choose Card </a> 
            <a href= "/reading"> Reading </a>
        </nav>
        <main>
        {% block content %}{% endblock %}
        </main>
        <footer>
            CART 351 PROJECT 2
        </footer>
    </body>
</html>

