{% extends "base.html"%}
<!-- js for this page-->

{%block content%}

<section class="reading-section">
    <div class="reading-container">
        <h2 id= "readingTitle"> Your Reading</h2>

        <div class="reading-card-name" id="cardName"> {{card_name}}</div>

        <div class="reading-info">
            <p><strong>Name:</strong> {{ user.name }}</p>
            <p><strong>Month:</strong> {{ user.month }}</p>
            <p><strong>Your question:</strong> {{ user.question }}</p>
        </div>

        <div class="reading-message" id="cardMessage">
           {{card_message}}
        </div>

        <div class="reading-actions">
            <a href="/" class="btn btn-secondary"> Home</a>
        </div>
    </div>
</section>

<script src="../static/js/cards.js"></script>
<script src="../static/js/reading.js"></script>

{% endblock %}