{% extends "base.html"%}
<!-- js for this page-->

{%block content%}
<section class= "register-collect">
<div class="formContainer">
<form id= "insertForm" action="">

<h3>  Welcome to the Magical Page, Enter the information</h3>
<fieldset>

<form id="userForm">
<p>
    <label> Name:</label>
    <input type="text" size="20" maxlength= "40" name= "name">
</p>

<p>
    <label>Select Birth Month:</label>
    <select name="selectMonth">
    <option value="">-- Choose Month --</option>
    <option value="january">January</option>
    <option value="february">February</option>
    <option value="march">March</option>
    <option value="april">April</option>
    <option value="may">May</option>
    <option value="june">June</option>
    <option value="july">July</option>
    <option value="august">August</option>
    <option value="september">September</option>
    <option value="october">October</option>
    <option value="november">November</option>
    <option value="december">December</option>
    </select>
</p>

<p>
    <label> Ask a question:</label>
    <textarea rows="5" cols="20" name="user_question" placeholder="Enter your question here..."></textarea>
</p>

<button id="submitBtn" class="submit-btn" style:> Save my information, get your card</button>

</form>
    <div id="message" class="hidden"></div>
</div>

</fieldset>
</form>
</div>
</section>
{% endblock %}