{% extends "base.html" %}
{% block content %}

<section class="register-collect">
  <div class="formContainer">
    <form id="userForm">
      <h3>Welcome to the Magical Page, Enter the information</h3>
      
      <fieldset>
        <p>
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" maxlength="40">
        </p>

        <p>
          <label for="month">Select Birth Month:</label>
          <select id="month" name="selectMonth">
            <option value="">-- Choose Month --</option>
            <option value="january">January</option>
            <option value="february">February</option>
            <option value="march">March</option>
            <option value="april">April</option>
            <option value="may">May</option>
            <option value="june">June</option>
            <option value="july">July</option>
            <option value="august">August</option>
            <option value="september">September</option>
            <option value="october">October</option>
            <option value="november">November</option>
            <option value="december">December</option>
          </select>
        </p>

        <p>
          <label> Ask a question:</label>
          <textarea id="question" name="user_question" rows="5" cols="20" placeholder="Enter your question here..."></textarea>
        </p>

        <button id="submitBtn" class="submit-btn">Save my information, get your card</button>
      </fieldset>
    </form>
  </div>
</section>

{% endblock %}
