h1 {
    color:  purple;
    text-align: center;
}

P {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}


li {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.image-row {
    display:flex;
    gap: 20px;
    flex-wrap: wrap;
}

.image-row img {
    width: 50%;           
    height: auto;
}