<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/character.css') }}">
    
    {% block scriptblock %}
    <script src="{{ url_for('static', filename='js/typing.js') }}" defer></script>
    {% endblock %}

    <title>{% block title %}Emotion Habits{% endblock %}</title>
</head>
<body>
    <main>
    {% block content %}
    <div class="information-container">
    <div class="text"></div> 
    
    <div class="space-prompt" id="spacePrompt" style="opacity: 0; margin-top: 2rem; text-align: center;">
        <p>Press <kbd>SPACE</kbd> to continue</p>
    </div>
</div> 
    {% endblock %}
    </main>
    <footer>
        Sophie Sanchez Project 3
    </footer>
</body>
</html>


