{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/character.css') }}">
{% endblock %}
{% block scriptblock %}
<script src="{{ url_for('static', filename='js/typing.js') }}" defer></script>
{% endblock %}

{% block content %}
<div class="creation-container">
    <h1>Create Your Character</h1>
    <p class="intro-text">This shadow represents you throughout the semester. Take care of it!</p>

    <canvas id="characterCanvas" width="600" height="400"></canvas>
        <div class="character-form">
            <div class="input-group">
            <label for="characterName">Character Name:</label>
            <input type="text" id="characterName" placeholder="Enter your name..." maxlength="20">
        </div>
            
            <div class="input-group">
            <label for="characterDegree">What are you studying?</label>
            <input type="text" id="characterDegree" placeholder=" computation arts... " maxlength="30">
        </div>
            
        <button id="startJourney" class="start-btn">Start My Semester Journey</button>
    </div>
</div>
    
<script src="{{ url_for('static', filename='js/character.js') }}" defer></script>
{% endblock %}