*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


footer {
    text-align: center;
    padding: 2rem;
    color: rgb(0, 0, 0);
    font-size: 20px;
}


.text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 60, 116);
    padding: 2rem;
    font-size:large;
    text-align: center;

    
}